.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.react-pdf__Document {
  width: 50vw

}
li {
  border-radius: 6px;
}

li:hover {
  background-color: #DEEDF0;

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@media only screen and (max-width: 772px) {
  #horizontal-nav {
    display:none;
  }

}
@media only screen and (min-width: 772px) {
  #hamburger-dropdown {
    display:none;
  }
}


.text-title {
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadeInUp {
  0% {
    transform: scale(0, .025);
  }
  50% {
    transform: scale(1, .025);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .projects-sub-animation {
    animation:  2s 1;
  }
}

.projects-sub-animation {
  animation-name: fadeInUp;
  animation-duration: 1s;

}


body {
  background-color: green;
}


.experience {
  background-color: #D2E2EC;

}



.row .card:hover {
  background-color: #EFEBE8;
}

.tesla-text-color {
  color: rgb(131, 13, 13);
  font-weight: bold;
  font-size: 14px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.custom-message {
  font-size: 10px;

}
.navtabs {
  background-color: #C6EBFF;

}
.doc-border {
  border-radius: 8px;

}